@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

body{
    background: #08172E;
}

.navbar{
    position: absolute;
    top: 0px;
    width: 0px;
    margin: 0 0 0 30vw;
    height: 0px;
    display: inline-flex;
    flex-direction: column;
    background-color: #13243dfd;
    overflow:hidden;
    transition: .25s;
}

.navbar--2{
    position: fixed;
    top: 0px;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    background-color: #13243dfd;
    transition: .25s;
    
}

.navbar__menu{
    display: inline-flex;
    justify-content: space-between;
    margin: 1em 3em 1em 3em;
    align-content: center;
}

.navbar--active{
    width: 70vw;
    height: 100vh;
    overflow: visible;
    transition: .25s;
}

.navbar__logo{
    height: 4em;
    align-self: center;
}

.navbar__button--menu, .navbar__button--menu--image{
    align-self: center;
    background-color: transparent;
    border: none;
}

.navbar__title{
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 1em auto 1em auto;
    color: #AE8330;
}

.navbar__button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar__button button{
    color: #AE8330;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    padding: 1em 0.5em 1em 1.5em;
    text-transform: uppercase;
}

.navbar__button button:hover{
    color: wheat;
}

.navbar__logo--2{
    padding: 0px;
    margin: 0px;
}

.navbar__button--menu--2{
    background: transparent;
    border: 0px;
    width: 3em;
}

.navbar__menu--2{
    display: inline-flex;
    justify-content: space-between;
    margin: 1em 3em 0em 3em;
    align-content: center;
    padding: 0 0 1em 0;
}

.navbar--off{
    width: 0;
    height: 0;
    overflow: hidden;
    transition: .25s;
}

header .imagem__principal{
    width: 20em;
    display: flex;
    margin: 10em auto 0px auto;
}

header .titulo__principal{
    text-align: center;
    color: #AE8330;
    line-height: 0px;
    font-weight: 700;
    font-size: 2em;
}

 .texto__principal{
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.button__contato{
    display: inline-flex;
    text-align: center;
    width: 70vw;
    height: 2em;
    border-radius: 3em;
    display: block;
    margin: 1em auto 3em auto;
    background-color: #80AF52;
    font-size: 1.6em;
    font-weight: 700;
    cursor: pointer;
    color: #181818;
    padding: 10px 0px 0px 0px;
}

.icone__whatsapp{
    width: 1em;
    margin: 5px 3vw 0 0;
}

main .imagem__notebook{
    width: 80%;
    display: block;
    margin: 0px auto 0px auto;
}

main .button__contato{
    background-color: #d44c3dd2;
    color: white;
}

.navbar__title--desktop{
    display: none;
}

.navbar__button--2{
    display: none;
}

@media screen and (min-width: 1000px) {
    .navbar__menu--2{
        height: 4em;
    }

    .navbar__menu--identificacao{
        display: inline-flex;
    }
    .navbar__button--menu--2{
        display: none;
    }
    .navbar__title--desktop{
        display: inline-flex;
        font-size: 1.5em;
        text-transform: capitalize;
        margin: 1em 1em 1em 1em;
        color: #AE8330;
    }
    .navbar__button{
        flex-direction: row;
    }
    .navbar__button--2{
        display: inline-flex;
    }
    

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .textos__principais{
        margin: 100px 0px 0px 0px;
        width: 700px;
    }

    .button__contato{
        width: 70%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "texto" ,"imagem";
    }

    .imagem__notebook{
        display: block;
        grid-area: imagem;
    }

    main .texto__principal{
        display: inline-flex;
        margin-top: 400px;
    }

}